.footer{
    width: 100%;
    max-width: 1024px;
    margin: auto;
}
.fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.fList{
    flex: 1;
    list-style: none;
    padding: 0;
}

.fListItem{
    margin-bottom: 10px;
    color: darkblue;
    cursor: pointer;
}